<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>
  <% category.posts.includes(:user, :rich_text_body).each do |post| %>
    <%= render 'posts/post', post: post %>
  <% end %>
</div>
